# Python build artifacts
build/
dist/
*.egg-info/
.eggs/

# Python virtual environment
venv/
env/
.env

# PyInstaller files
*.spec
EvoiClock.spec

# Compiled Python files
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Caches
__pycache__/
.pytest_cache/

# macOS
.DS_Store

# Temp files
_archive_temp/ 